@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Aeonik';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/Aeonik-Regular.otf') format('opentype'),
    }

    /* inter-500 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Aeonik';
        font-style: medium;
        font-weight: 500;
        src: url('../fonts/Aeonik-Medium.otf') format('opentype'),
    }

    /* inter-600 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Aeonik';
        font-style: bold;
        font-weight: 600;
        src: url('../fonts/Aeonik-Bold.otf') format('opentype'),
    }

    p {
      margin-bottom: 10px;
    }

    h1,
    .h1 {
      @apply text-6xl font-medium block mb-4;
    }

    h2,
    .h2 {
      @apply text-5xl font-medium block;
    }

    h3, h4, h5, h6,
    .h3, .h4, .h5, .h6 {
      @apply text-lg font-medium block;
    }
}

/* If the user prefers dark mode,
we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }

  /* If the user prefers light mode,
  we still enforce color-scheme: dark, despite the user preference */
  @media (prefers-color-scheme: light) {
    html {
      color-scheme: dark;
    }
  }
